/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.6;
  background-color: #f8f9fa;
  color: #981212;
}

/* App container styles */
section {
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(100deg, #001214, #001f29);
  color: rgb(0, 0, 0);
  transition: 0.3s linear;
  gap:40px;
}

